<div class="card">
    <div class="card-header"><strong>Herramientas</strong> </div>

    <div class="row">
        <div class="col-2 text-center">
            <div>
                <small class="text-muted">Dibujar__<i class="fas fa-pencil-alt"></i></small>
            </div>
            <hr/>
            <div class="btn-group">
                <button (click)="dibujar()" class="btn btn-success">Pincel <i class="fas fa-paint-brush"></i></button>
                <button (click)="dibujarLinea()" class="btn btn-primary">Línea <strong>/</strong></button>
            </div>
        </div>
        <div class="col-2 text-center">
            <div>
                <small class="text-muted">Tamaño de puntero <i class="fas fa-pencil-alt"></i></small>
            </div>
            <hr/>
            <div>
                <input type="range" id="brushSize" name="brushSize" min="1" max="10" [(ngModel)]="brushSize" (change)="cambiarGrosorPincel()">
            </div>
            <div>
                <strong class="text-primary">{{ brushSize }}</strong>
            </div>
        </div>
        <div class="col-2 text-center">
            <div>
                <small class="text-muted">Paleta de colores <i class="fas fa-palette"></i></small>
            </div>
            <hr/>
            <input type="color" [(ngModel)]="brushColor" (input)="cambiarColorPincel()" style="cursor: pointer;"/>
            <div>
                <label *ngFor="let color of quickColors">
                    <input type="radio" [value]="color" name="quickColor" [(ngModel)]="brushColor" (change)="cambiarColorPincel(color)" style="display: none;"/>
                    <span [style.background-color]="color" style="cursor: pointer;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </label>
            </div>
        </div>
        <div class="col-2 text-center">
            <div>
                <small class="text-muted">Seleccionar elementos <i class="far fa-object-ungroup"></i></small>
            </div>
            <hr/>
            <button (click)="seleccionar()" class="btn btn-outline-primary">Seleccionar <i class="fas fa-hand-pointer"></i></button>
        </div>
        <div class="col-2 text-center">
            <div>
                <small class="text-muted">Borradores <i class="fas fa-eraser"></i></small>
            </div>
            <hr/>
            <div class="btn-group">
                <button (click)="borrador()"  class="btn btn-secondary">Borrar <i class="fas fa-arrows-alt"></i></button>
                <button (click)="resetCanvas()"  class="btn btn-light">Limpiar <i class="fas fa-history"></i></button>
            </div>
        </div>
        <div class="col-2 text-center">
            <div>
                <small class="text-muted">Guadar <i class="fas fa-save"></i></small>
            </div>
            <hr/>
            <button (click)="guardarComoPNG()"  class="btn btn-primary">Guardar imágen <i class="far fa-image"></i></button>
        </div>
    </div>
</div>

<!-- Botón para cargar una imagen desde el computador -->
<div>
    <button (click)="uploadImage()" class="btn btn-outline-primary" style="margin-top: 10px;">Cargar una imagen <i class="fas fa-folder-open"></i></button>
    <input type="file" id="fileInput" style="display: none;" accept=".png, .jpg, .jpeg" (change)="handleFileInput($event)" />
</div>    

<div class="row mt-3">
    <div class="col-10"><canvas id="canvas" class="canvas-border"></canvas></div>
    <!-- <div class="col-2">
        <div class="card">
            <div class="card-header"><strong>Herramientas</strong> </div>

            <div class="card-body">
                <small class="text-muted">Dibujo</small>
                <div class="btn-group">
                    <button (click)="dibujar()" class="btn btn-success">Pincel <i class="fas fa-paint-brush"></i></button>
                    <button (click)="dibujarLinea()" class="btn btn-primary">Línea <strong>\</strong></button>
                </div>
                <div class="mt-3">
                    <small class="text-muted">Tamaño puntero</small>
                    <input type="range" id="brushSize" name="brushSize" min="1" max="10" [(ngModel)]="brushSize" (change)="cambiarGrosorPincel()">
                </div>
                <div class="brusheSize"><span>{{ brushSize }}</span></div>

                <div class="mt-3">
                    <small class="text-muted">Paleta de colores <i class="fas fa-palette"></i></small>
                </div>
                <div>
                    <input type="color" [(ngModel)]="brushColor" (input)="cambiarColorPincel()" style="cursor: pointer;"/>
                </div>
                <div class="mt-1">
                    <label *ngFor="let color of quickColors">
                        <input type="radio" [value]="color" name="quickColor" [(ngModel)]="brushColor" (change)="cambiarColorPincel(color)" style="display: none;"/>
                        <span [style.background-color]="color" style="cursor: pointer;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </label>
                </div>
    
                <div class="mt-3">
                    <small class="text-muted">Seleccionar elementos</small>
                    <button (click)="seleccionar()" class="btn btn-outline-primary">Seleccionar <i class="far fa-object-ungroup"></i></button>
                </div>

                <div class="mt-3">
                    <small class="text-muted">Borradores</small>
                </div>
                <div class="btn-group">
                    <button (click)="borrador()"  class="btn btn-secondary">Borrador <i class="fas fa-eraser"></i></button>
                    <button (click)="resetCanvas()"  class="btn btn-light">Limpiar <i class="fas fa-history"></i></button>
                </div>

                <div class="mt-3">
                    <button (click)="guardarComoPNG()"  class="btn btn-primary">Guardar imágen <i class="fas fa-save"></i></button>
                </div>

                <div class="mt-3 div-scroll" >
                    <div><small><strong class="text-muted">¿Cómo borrar trazos?</strong> </small></div>
                    <div><span class="text-muted font-size">Para borrar trazos de pincel, seleccione el <strong class="text-muted">'Borrador'</strong> y de clic sobre el trazo que desee borrar.</span></div>
                    <hr/>
                    <div><span class="text-muted font-size">Para borrar multiples trazos de pincel, de clic en <strong class="text-muted">'Seleccionar'</strong>, seleccione varios trazos y pulse <strong class="text-muted">'Suprimir'</strong>, botón físico de su teclado.</span></div>
                    <div class="mt-3"><small><strong class="text-muted">¿Cómo borrar líneas?</strong> </small></div>
                    <div><span class="text-muted font-size">Para borrar líneas, de clic en el botón <strong class="text-muted">'Seleccionar'</strong>, después seleccione una o varias líneas y pulse <strong class="text-muted">'Suprimir'</strong>, botón físico de su teclado.</span></div>
                </div>
            </div>
        </div>
    </div> -->
</div>

<div class="row mb-4">
    <div class="mt-3 div-scroll" >
        <div><small><strong class="text-muted">¿Cómo borrar trazos?</strong> </small></div>
        <div><span class="text-muted font-size">Para borrar trazos de pincel, seleccione el botón <strong class="text-muted">'Borrar'</strong> y de clic sobre el trazo que desee borrar.</span></div>
        <div><span class="text-muted font-size">Para borrar multiples trazos de pincel, de clic en <strong class="text-muted">'Seleccionar'</strong>, seleccione varios trazos y pulse el botón <strong class="text-muted">'Suprimir'</strong> (botón físico de su teclado).</span></div>
        <hr/>
        <div class="mt-3"><small><strong class="text-muted">¿Cómo borrar líneas?</strong> </small></div>
        <div><span class="text-muted font-size">Para borrar líneas, de clic en el botón <strong class="text-muted">'Seleccionar'</strong>, después seleccione una o varias líneas y pulse <strong class="text-muted">'Suprimir'</strong>, botón físico de su teclado.</span></div>
    </div>
</div>


