<p>3d Model</p>
<!-- model-simple-load.component.html -->
<!-- <div id="modelContainer" style="position: relative; width: 100%; height: 100%;"> -->
<div id="modelContainer" style="position: relative; width: 1500px; height: 1000px">
    <!-- Botones de control -->
    <button id="fullscreenButton" class="btn btn-primary" style="position: absolute; top: 10px; right: 10px;">Full screen</button>
    <button id="exitFullscreenButton" class="btn btn-primary" style="position: absolute; top: 10px; right: 10px; display: none;">Salir</button>
    <button id="zoomInButton" class="btn btn-primary" style="position: absolute; top: 50px; right: 10px;">Zoom In</button>
    <button id="zoomOutButton" class="btn btn-primary" style="position: absolute; top: 90px; right: 10px;">Zoom Out</button>
  </div>
  
